################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.vsidx
/Studio.API/obj/Debug/net6.0/Studio.API.AssemblyInfo.cs
/Studio.API/obj/Debug/net6.0/Studio.API.AssemblyInfoInputs.cache
/Studio.API/obj/Debug/net6.0/Studio.API.assets.cache
/Studio.API/obj/Debug/net6.0/Studio.API.GeneratedMSBuildEditorConfig.editorconfig
