.service-status-completed{
    background-color: #C8E6C9;
    color: #256029;
    padding: 4px;
    border-radius: 4px;
    font-weight: 600;
}

.service-status-open{
    background-color: #B3E5FC;
    color: #23547B;
    padding: 4px;
    border-radius: 4px;
    font-weight: 600;
}
.service-status-deleted{
    background-color: #FFCED2;
    color: #C63737;
    padding: 4px;
    border-radius: 4px;
    font-weight: 600;
}