<p-toast></p-toast>
<p-panel header="Service List" [toggleable]="true">
    <div class="grid">
        <div class="col-12">
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button
                            pButton
                            pRipple
                            label="Assign"
                            icon="pi pi-plus"
                            class="p-button-success mr-2"
                            (click)="openNew()"
                        ></button>
                    </div>
                </ng-template>
            </p-toolbar>

            <p-table
                #dt
                [value]="assignedServices"
                styleClass="p-datatable-sm"
                responsiveLayout="stack"
                [breakpoint]="'960px'"
                responsiveLayout="scroll"
                [rows]="10"
                [globalFilterFields]="['serviceName']"
                [paginator]="true"
                [rowsPerPageOptions]="[10, 20, 30]"
                [showCurrentPageReport]="true"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                [(selection)]="selectedServices"
                selectionMode="multiple"
                [rowHover]="true"
                dataKey="id"
            >
                <ng-template pTemplate="caption">
                    <div
                        class="flex flex-column md:flex-row md:justify-content-between md:align-items-center"
                    >
                        <h5 class="m-0">Manage Services</h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input
                                pInputText
                                type="text"
                                (input)="onGlobalFilter(dt, $event)"
                                placeholder="Search..."
                                class="w-full sm:w-auto"
                            />
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="id">
                            Id <p-sortIcon field="code"></p-sortIcon>
                        </th>
                        <th pSortableColumn="tittle">
                            Tittle
                            <p-sortIcon field="tittle"></p-sortIcon>
                        </th>
                        <th pSortableColumn="description">
                            Description
                            <p-sortIcon field="description"></p-sortIcon>
                        </th>
                        <th pSortableColumn="type">
                            Type
                            <p-sortIcon field="type"></p-sortIcon>
                        </th>
                        <th pSortableColumn="price">
                            Price
                            <p-sortIcon field="price"></p-sortIcon>
                        </th>
                        <th pSortableColumn="status">
                            Status
                            <p-sortIcon field="status"></p-sortIcon>
                        </th>
                        <th pSortableColumn="createdBy">
                            Created By
                            <p-sortIcon field="createdBy"></p-sortIcon>
                        </th>
                        <th pSortableColumn="createdDate">
                            Created Date
                            <p-sortIcon field="createdDate"></p-sortIcon>
                        </th>
                        <th pSortableColumn="lastUpdatedBy">
                            Last Updated By
                            <p-sortIcon field="lastUpdatedBy"></p-sortIcon>
                        </th>
                        <th pSortableColumn="lastUpdatedDate">
                            Last Updated Date
                            <p-sortIcon field="lastUpdatedDate"></p-sortIcon>
                        </th>
                        <th pSortableColumn="isDeleted">
                            Availibility
                            <p-sortIcon field="isDeleted"></p-sortIcon>
                        </th>
                        <!-- Actions column typically does not need sorting -->
                        <th>Actions</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-service>
                    <tr>
                        <td style="width: 14%; min-width: 10rem">
                            <span class="p-column-title">Id</span>
                            {{ service.id }}
                        </td>
                        <td style="width: 14%; min-width: 10rem">
                            <span class="p-column-title">Tittle</span>
                            {{ service.serviceTittle }}
                        </td>
                        <td style="width: 14%; min-width: 10rem">
                            <span class="p-column-title">Description</span>
                            {{ service.serviceDescription }}
                        </td>
                        <td style="width: 14%; min-width: 10rem">
                            <span class="p-column-title">Type</span>
                            {{ service.type }}
                        </td>
                        <td style="width: 14%; min-width: 10rem">
                            <span class="p-column-title">Price</span>
                            {{ service.price }}
                        </td>
                        <td style="width: 14%; min-width: 10rem">
                            <span class="p-column-title">Availibility</span>
                            <span
                                [class]="
                                    'service-status-' +
                                    (service.status
                                        ? service.status.toLowerCase()
                                        : '')
                                "
                                >{{ service.status }}</span
                            >
                        </td>
                        <td style="width: 14%; min-width: 10rem">
                            <span class="p-column-title">CreateDate</span>
                            {{ service.createdBy }}
                        </td>
                        <td style="width: 14%; min-width: 10rem">
                            <span class="p-column-title">CreatedDate</span>
                            {{ service.createdDate | date : "dd/MM/yyyy" }}
                        </td>
                        <td style="width: 14%; min-width: 10rem">
                            <span class="p-column-title">LastUpdatedBy</span>
                            {{ service.lastUpdatedBy }}
                        </td>
                        <td style="width: 14%; min-width: 10rem">
                            <span class="p-column-title">lastUpdatedDate</span>
                            {{ service.lastUpdatedDate | date : "dd/MM/yyyy" }}
                        </td>
                        <td style="width: 14%; min-width: 10rem">
                            <span class="p-column-title">Is Deleted</span>
                            <i
                                class="pi"
                                style="color: green"
                                [ngClass]="{
                                    'true-icon pi-check-circle':
                                        !service.isDeleted,
                                    'false-icon pi-times-circle':
                                        service.isDeleted
                                }"
                            ></i>
                        </td>

                        <td>
                            <div class="flex">
                                <button
                                    pButton
                                    pRipple
                                    style="color: red"
                                    icon="pi pi-minus"
                                    class="p-button-rounded p-button-text"
                                    (click)="deleteService(service)"
                                ></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>

            <p-dialog
                [(visible)]="serviceDialog"
                [style]="{ 'min-width': '50rem' }"
                header="Service Details"
                [modal]="true"
                class="p-fluid"
            >
                <div class="card px-6 py-6">
                    <p-table
                        #dt
                        [value]="services"
                        styleClass="p-datatable-sm"
                        responsiveLayout="stack"
                        [breakpoint]="'960px'"
                        responsiveLayout="scroll"
                        [rows]="10"
                        [globalFilterFields]="['serviceName']"
                        [paginator]="true"
                        [rowsPerPageOptions]="[10, 20, 30]"
                        [showCurrentPageReport]="true"
                        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                        selectionMode="multiple"
                        [rowHover]="true"
                        dataKey="id"
                    >
                        <ng-template pTemplate="caption">
                            <div
                                class="flex flex-column md:flex-row md:justify-content-between md:align-items-center"
                            >
                                <h5 class="m-0">Manage Services</h5>
                                <span
                                    class="block mt-2 md:mt-0 p-input-icon-left"
                                >
                                    <i class="pi pi-search"></i>
                                    <input
                                        pInputText
                                        type="text"
                                        (input)="onGlobalFilter(dt, $event)"
                                        placeholder="Search..."
                                        class="w-full sm:w-auto"
                                    />
                                </span>
                            </div>
                        </ng-template>
                        <ng-template pTemplate="header">
                            <tr>
                                <th pSortableColumn="id">
                                    Id <p-sortIcon field="code"></p-sortIcon>
                                </th>
                                <th pSortableColumn="tittle">
                                    Tittle
                                    <p-sortIcon field="tittle"></p-sortIcon>
                                </th>
                                <th pSortableColumn="description">
                                    Description
                                    <p-sortIcon
                                        field="description"
                                    ></p-sortIcon>
                                </th>
                                <th pSortableColumn="type">
                                    Type
                                    <p-sortIcon field="type"></p-sortIcon>
                                </th>
                                <th pSortableColumn="price">
                                    Price
                                    <p-sortIcon field="price"></p-sortIcon>
                                </th>
                                <th pSortableColumn="status">
                                    Status
                                    <p-sortIcon field="status"></p-sortIcon>
                                </th>
                                <th pSortableColumn="createdBy">
                                    Created By
                                    <p-sortIcon field="createdBy"></p-sortIcon>
                                </th>
                                <th pSortableColumn="createdDate">
                                    Created Date
                                    <p-sortIcon
                                        field="createdDate"
                                    ></p-sortIcon>
                                </th>
                                <th pSortableColumn="lastUpdatedBy">
                                    Last Updated By
                                    <p-sortIcon
                                        field="lastUpdatedBy"
                                    ></p-sortIcon>
                                </th>
                                <th pSortableColumn="lastUpdatedDate">
                                    Last Updated Date
                                    <p-sortIcon
                                        field="lastUpdatedDate"
                                    ></p-sortIcon>
                                </th>
                                <th pSortableColumn="isDeleted">
                                    Availibility
                                    <p-sortIcon field="isDeleted"></p-sortIcon>
                                </th>
                                <!-- Actions column typically does not need sorting -->
                                <th>Actions</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-service>
                            <tr>
                                <td style="width: 14%; min-width: 10rem">
                                    <span class="p-column-title">Id</span>
                                    {{ service.id }}
                                </td>
                                <td style="width: 14%; min-width: 10rem">
                                    <span class="p-column-title">Tittle</span>
                                    {{ service.serviceTittle }}
                                </td>
                                <td style="width: 14%; min-width: 10rem">
                                    <span class="p-column-title"
                                        >Description</span
                                    >
                                    {{ service.serviceDescription }}
                                </td>
                                <td style="width: 14%; min-width: 10rem">
                                    <span class="p-column-title">Type</span>
                                    {{ service.type }}
                                </td>
                                <td style="width: 14%; min-width: 10rem">
                                    <span class="p-column-title">Price</span>
                                    {{ service.price }}
                                </td>
                                <td style="width: 14%; min-width: 10rem">
                                    <span class="p-column-title"
                                        >Availibility</span
                                    >
                                    <span
                                        [class]="
                                            'service-status-' +
                                            (service.status
                                                ? service.status.toLowerCase()
                                                : '')
                                        "
                                        >{{ service.status }}</span
                                    >
                                </td>
                                <td style="width: 14%; min-width: 10rem">
                                    <span class="p-column-title"
                                        >CreateDate</span
                                    >
                                    {{ service.createdBy }}
                                </td>
                                <td style="width: 14%; min-width: 10rem">
                                    <span class="p-column-title"
                                        >CreatedDate</span
                                    >
                                    {{
                                        service.createdDate
                                            | date : "dd/MM/yyyy"
                                    }}
                                </td>
                                <td style="width: 14%; min-width: 10rem">
                                    <span class="p-column-title"
                                        >LastUpdatedBy</span
                                    >
                                    {{ service.lastUpdatedBy }}
                                </td>
                                <td style="width: 14%; min-width: 10rem">
                                    <span class="p-column-title"
                                        >lastUpdatedDate</span
                                    >
                                    {{
                                        service.lastUpdatedDate
                                            | date : "dd/MM/yyyy"
                                    }}
                                </td>
                                <td style="width: 14%; min-width: 10rem">
                                    <span class="p-column-title"
                                        >Is Deleted</span
                                    >
                                    <i
                                        class="pi"
                                        style="color: green"
                                        [ngClass]="{
                                            'true-icon pi-check-circle':
                                                !service.isDeleted,
                                            'false-icon pi-times-circle':
                                                service.isDeleted
                                        }"
                                    ></i>
                                </td>

                                <td>
                                    <div class="flex">
                                        <button
                                            pButton
                                            pRipple
                                            style="color: greenyellow"
                                            icon="pi pi-plus"
                                            class="p-button-rounded p-button-text"
                                            (click)="assignService(service)"
                                        ></button>
                                    </div>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </p-dialog>

            <p-dialog
                [(visible)]="deleteServiceDialog"
                header="Confirm"
                [modal]="true"
                [style]="{ width: '450px' }"
            >
                <div class="flex align-items-center justify-content-center">
                    <i
                        class="pi pi-exclamation-triangle mr-3"
                        style="font-size: 2rem"
                    ></i>
                    <span *ngIf="service"
                        >Are you sure you want to delete
                        <b>{{ service.name }}</b
                        >?</span
                    >
                </div>
                <ng-template pTemplate="footer">
                    <button
                        pButton
                        pRipple
                        icon="pi pi-times"
                        class="p-button-text"
                        label="No"
                        (click)="deleteServiceDialog = false"
                    ></button>
                    <button
                        pButton
                        pRipple
                        icon="pi pi-check"
                        class="p-button-text"
                        label="Yes"
                        (click)="confirmDelete()"
                    ></button>
                </ng-template>
            </p-dialog>

            <p-dialog
                [(visible)]="deleteServicesDialog"
                header="Confirm"
                [modal]="true"
                [style]="{ width: '450px' }"
            >
                <div class="flex align-items-center justify-content-center">
                    <i
                        class="pi pi-exclamation-triangle mr-3"
                        style="font-size: 2rem"
                    ></i>
                    <span
                        >Are you sure you want to delete selected
                        services?</span
                    >
                </div>
                <ng-template pTemplate="footer">
                    <button
                        pButton
                        pRipple
                        icon="pi pi-times"
                        class="p-button-text"
                        label="No"
                        (click)="deleteServicesDialog = false"
                    ></button>
                    <button
                        pButton
                        pRipple
                        icon="pi pi-check"
                        class="p-button-text"
                        label="Yes"
                        (click)="confirmDeleteSelected()"
                    ></button>
                </ng-template>
            </p-dialog>
        </div>
    </div>
</p-panel>
