<div class="mx-auto bg-gray-900 text-white"
[ngClass]="{ hidden: currentUrl === '/test' }"
>
  <div class="flex justify-center">
    <!-- start  -->
    <div class="md:flex py-10 w-full justify-around items-center">
      <div
        class="pb-10 md:pb-0 justify-center flex flex-col items-center md:block"
      >
        <div class="pb-5 tracking-wider">
          <img src="../../../assets/Logo.png" class="h-4" alt="Flowbite Logo" />
        </div>
        <div class="md:w-full flex md:justify-between">
          <a
            href="https://www.facebook.com/NhuMyMakeUp/"
            class="fa-brands fa-facebook fa-bounce fa-2xl"
            style="color: #06538e"
            target="_blank"
            title="Facebook"
          ></a>
          <a
            href="https://www.instagram.com/nhumystudio/"
            class="fa-brands fa-instagram fa-bounce fa-2xl"
            style="color: #b197fc"
            target="_blank"
            title="Instagram"
          ></a>

          <a
            href="mailTo:lacdaushop@gmail.com"
            class="fa-solid fa-envelope fa-bounce fa-2xl"
            style="color: #ff0066"
            target="_blank"
            title="Email"
          >
          </a>
          <a
            href="tel:0908145344"
            class="fa-thin fa-phone fa-shake fa-2xl"
            style="color: #40f000"
            target="_blank"
            title="0349.296.461"
          ></a>
          <!-- <a
            href="https://www.youtube.com/channel/UC0kL-L4W-QBwgwqCv408J2A"
            class="icons icon-youtube"
            target="_blank"
            title="Youtube"
          ></a> -->
        </div>
      </div>

      <div
        class="pb-10 md:pb-0 justify-center flex flex-col items-center md:block"
      >
        <div class="flex items-end">
          <div><i class="fa fa-phone-square pr-3" aria-hidden="true"></i></div>
          <div>
            <h1>Our phone number:</h1>
            <p>+84 ...</p>
          </div>
        </div>
        <div class="flex items-end">
          <div><i class="fa fa-envelope pr-3" aria-hidden="true"></i></div>
          <div>
            <h1>Our Email:</h1>
            <p>...</p>
          </div>
        </div>
        <div class="flex items-end">
          <div><i class="fa fa-address-card pr-3" aria-hidden="true"></i></div>
          <div>
            <h1>Our Address:</h1>
            <p>1806/66 Huynh Tan Phat,..</p>
          </div>
        </div>
      </div>

      <div
        class="pb-10 md:pb-0 justify-center flex flex-col items-center md:block"
      >
        <div
          class="vc_row wpb_row vc_row-fluid vc_row-o-content-top vc_row-flex wd-rs-64588760c9b08"
        >
          <div class="wpb_column vc_column_container vc_col-sm-12">
            <div class="vc_column-inner">
              <div class="wpb_wrapper">
                <div class="wpb_widgetised_column wpb_content_element">
                  <div class="wpb_wrapper">
                    <div
                      id="text-15"
                      class="wd-widget widget footer-widget widget_text"
                    >
                      <h5 class="widget-title">FOLLOW WHITE</h5>
                      <div class="textwidget">
                        <iframe
                          src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FNhuMyMakeUp&tabs=timeline&width=280&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId"
                          style="border: none; overflow: hidden"
                          scrolling="no"
                          frameborder="0"
                          allowfullscreen="true"
                          allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"
                        ></iframe>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div></div>
    <!-- end  -->
  </div>
</div>
