<p-toast></p-toast>
<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toast></p-toast>
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()"></button>
                        <button pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-danger" (click)="deleteSelectedCitys()" [disabled]="!selectedCitys || !selectedCitys.length"></button>
                    </div>
                </ng-template>

                <ng-template pTemplate="right">
                    <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import" class="mr-2 inline-block"></p-fileUpload>
                    <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help" (click)="dt.exportCSV()"></button>
                </ng-template>
            </p-toolbar>

            <p-table #dt [value]="citys" styleClass="p-datatable-sm" responsiveLayout="stack" [breakpoint]="'960px'" [columns]="cols" responsiveLayout="scroll" [rows]="10" [globalFilterFields]="['cityName']" [paginator]="true" [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [(selection)]="selectedCitys" selectionMode="multiple" [rowHover]="true" dataKey="id">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">Manage Citys</h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Search..."  class="w-full sm:w-auto"/>
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th pSortableColumn="id">Id <p-sortIcon field="code"></p-sortIcon></th>
                        <th pSortableColumn="cityName" >
                            City 
                            <p-sortIcon field="cityName"></p-sortIcon>
                        </th>
                        <th pSortableColumn="countryId" >
                            Country 
                            <p-sortIcon field="countryId"></p-sortIcon>
                        </th>
                        <th pSortableColumn="createdBy" >
                            Created By
                            <p-sortIcon field="createdBy"></p-sortIcon>
                        </th>
                        <th pSortableColumn="createdDate" >
                            Created Date
                            <p-sortIcon field="createdDate"></p-sortIcon>
                        </th>
                        <th pSortableColumn="lastUpdatedBy" >
                            Last Updated By
                            <p-sortIcon field="lastUpdatedBy"></p-sortIcon>
                        </th>
                        <th pSortableColumn="lastUpdatedDate" >
                            Last Updated Date
                            <p-sortIcon field="lastUpdatedDate"></p-sortIcon>
                        </th>
                        <th pSortableColumn="isDeleted" >
                            Availibility
                            <p-sortIcon field="isDeleted"></p-sortIcon>
                        </th>
                        <!-- Actions column typically does not need sorting -->
                        <th >Actions</th>
                      </tr>
                </ng-template>
                <ng-template pTemplate="body" let-city>
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="city"></p-tableCheckbox>
                        </td>
                        <td style="width:14%; min-width:10rem;"><span class="p-column-title">Id</span>
                            {{city.id}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">City</span>
                            {{city.cityName}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Country</span>
                            {{city.country.countryName}}
                        </td>
                        
                        <td style="width:14%; min-width:10rem;"><span class="p-column-title">CreateDate</span>
                            {{city.createdBy}}
                        </td>
                        <td style="width:14%; min-width:10rem;"><span class="p-column-title">CreatedDate</span>
                            {{city.createdDate | date: 'dd/MM/yyyy'}}
                        </td>
                        <td style="width:14%; min-width:10rem;"><span class="p-column-title">LastUpdatedBy</span>
                            {{city.lastUpdatedBy}}
                        </td>
                        <td style="width:14%; min-width:10rem;"><span class="p-column-title">lastUpdatedDate</span>
                            {{city.lastUpdatedDate | date: 'dd/MM/yyyy'}}
                        </td>
                        <td style="width:14%; min-width:10rem;"><span class="p-column-title">Is Deleted</span>
                            <i class="pi" style="color: green" [ngClass]="{'true-icon pi-check-circle': !city.isDeleted, 'false-icon pi-times-circle': city.isDeleted}"></i>
                        </td>

                        <td>
                            <div class="flex">
                                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-text" (click)="editCity(city)"></button>
                                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-text" (click)="deleteCity(city)"></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

        <p-dialog  [(visible)]="cityDialog" [style]="{width: '450px'}" 
        header="City Details" [modal]="true" class="p-fluid">
            <ng-template pTemplate="content">
                <img [src]="'assets/demo/images/city/' + city.image" [alt]="city.image" width="150" class="mt-0 mx-auto mb-5 block shadow-2" *ngIf="city.image">
                <div class="field">
                    <label for="cityName">City</label>
                    <input type="text" pInputText id="cityName" [(ngModel)]="city.cityName" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !city.cityName}"/>
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !city.cityName">Tittle is required.</small>
                </div>

                <div class="field">
                    <p-dropdown appendTo="body" [options]="countries" [(ngModel)]="selectedCountry" optionLabel="countryName" [filter]="true" filterBy="countryName" [showClear]="true" placeholder="Select a Country">
                        <ng-template pTemplate="selectedItem">
                            <div class="country-item country-item-value" *ngIf="selectedCountry">
                                <div>{{selectedCountry.countryName}}</div>
                            </div>
                        </ng-template>
                        <ng-template let-country pTemplate="item">
                            <div class="country-item">
                                <div>{{country.countryName}}</div>
                            </div>
                        </ng-template>
                    </p-dropdown>
                </div>
            </ng-template>

           

           


            <ng-template pTemplate="footer">
                <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
                <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveCity()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="deleteCityDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span *ngIf="city">Are you sure you want to delete <b>{{city.cityName}}</b>?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteCityDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmDelete()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="deleteCitysDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span>Are you sure you want to delete selected citys?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteCitysDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmDeleteSelected()"></button>
            </ng-template>
        </p-dialog>
    </div>
</div>
