<figure class="relative w-full" [ngClass]="{ hidden: currentUrl === '/home' }">
  <img
    class="blur"
    src="../../../assets/coverwebngang7_fe595d1d5a.jpg"
    alt="image description"
  />
  <figcaption
    class="absolute px-4 text-lg text-white top-52 w-full flex justify-center"
  >
    <p>Caption...</p>
  </figcaption>
</figure>

<div class="main w-full h-fit mx-auto flex justify-center">
  <div
    class="max-w-md md:max-w-2xl text-center mx-auto mt-24 justify-between items-center"
  >
    <div class="flex justify-center">
      <img src="../../../assets/xuc-cam.png" class="h-52" alt="" />
    </div>
    <div class="flex justify-center">
      <p class="max-w-[150px] md:max-w-2xl text-3xl font-thin">
        XÚC CẢM / TRỌN VẸN / TINH TẾ
      </p>
    </div>
    <div>
      <p class="text-xl italic font-light">
        Mỗi đám cưới tổ chức bởi Meraki đều mang đến khách mời trải nghiệm độc
        đáo.
      </p>
    </div>

    <div
      class="flex flex-col items-center md:h-64 md:flex-row md:space-x-14 justify-evenly my-6"
    >
      <div class="leading-loose flex-1 text-justify">
        <p>
          Ngày cưới trong mơ được vẽ nên từ những điều nhỏ bé. Đó là hành trình
          của sự tinh tế, cẩn trọng và sáng tạo để những khoảnh khắc tuyệt vời
          được ghi dấu. Bằng tất cả tình yêu và lòng nhiệt thành, Meraki mong
          muốn có được cơ duyên đồng hành cùng bạn trong hành trình đặc biệt
          này.
        </p>
      </div>
      <div class="w-px bg-black md:h-64 hidden md:block"></div>
      <div class="text-center flex-1 my-6 flex flex-col items-center">
        <div class="italic leading-loose max-w-sm">
          <p>
            Không niềm vui nào sánh được khi bạn lên kế hoạch và từng bước hiện
            thực hóa lễ cưới bạn hằng mơ về. Đó sẽ là dự án hạnh phúc nhất trên
            đời!
          </p>
        </div>
        <div class="font-semibold text-sm font-sweetsans">
          - MARTHA STEWART -
        </div>
      </div>
    </div>

    <div
      class="flex flex-col items-center md:flex-row md:space-x-14 py-10 justify-evenly"
    >
      <img
        src="../../../assets/web_homepage_about_4acca1e65c.JPG"
        class="max-h-80"
        alt=""
      />
      <div class="flex-1 flex flex-col md:items-start items-center">
        <div class="text-4xl">
          <p>MERAKI</p>
        </div>
        <div class="italic leading-loose max-w-sm text-lg mt-2">
          <p>[may-rah-kee] - trong tiếng Hy Lạp</p>
        </div>
        <div class="italic leading-loose max-w-sm text-lg">
          <p>Làm gì đó với tất cả tình yêu và tâm hồn</p>
        </div>
        <div class="leading-loose space-y-6 mt-6 text-justify">
          <p>
            Đám cưới là một cột mốc thiêng liêng nhất, nó là điểm khởi đầu cho
            một đời sống mới. Là Wedding Planner, tụi mình sẽ luôn mong muốn cô
            dâu chú rể có thể nhẹ nhõm tận hưởng trọn vẹn ngày dành riêng cho
            mình, bắt đầu đoạn đường chung đôi cùng nhau một cách thuận lợi với
            nhiều ký ức đáng nhớ. MERAKI đã và đang được đi một hành trình thú
            vị đầy niềm vui với công việc mà tụi mình đã đặt trọn tình yêu và
            đam mê. Trái tim ấm áp của tụi mình đang được nuôi dưỡng trong năng
            lượng đẹp đẽ ấy. Từng thành viên một là những mảnh ghép nhỏ, bồi
            đắp, cân bằng cho nhau để tạo nên một Meraki thật đa nhiệm, đa màu
            sắc, luôn ở phía sau hậu trường cho ngày vui của hai bạn được tỏa
            sáng và ghi lại những dấu ấn khó quên.
          </p>
        </div>
        <div
          class="font-semibold text-sm font-sweetsans flex items-center justify-center space-y-6 h-20"
        >
          - MARTHA STEWART -
        </div>
      </div>
    </div>
    <div
      class="flex flex-col items-center md:flex-row md:space-x-14 justify-evenly"
      [ngClass]="{ hidden: currentUrl !== '/home' }"
    >
      <a href="/about"
        ><button
          type="button"
          class="text-white bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 shadow-lg shadow-blue-500/50 dark:shadow-lg dark:shadow-blue-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2"
        >
          Read More...
        </button></a
      >
    </div>
  </div>
</div>
