<div class="bg-element-1 py-12">
  <div class="px-6 lg:px-12 xl:px-24 w-full mx-auto max-w-screen-2xl">
    <div class="lg:hidden">
      <div class="w-full flex flex-col items-center max-w-5xl mx-auto">
        <div class="relative w-24 md:w-28">
          <div
            style="
              display: block;
              overflow: hidden;
              position: relative;
              box-sizing: border-box;
              margin: 0;
            "
          >
            <div
              style="
                display: block;
                box-sizing: border-box;
                padding-top: 194.64285714285714%;
              "
            ></div>
            <noscript
              ><img
                alt="Meraki Image"
                sizes="(max-width: 384px) 400px,(max-width: px) 500px,(max-width: 1400px) 960px, 960px"
                srcSet="../../../assets//xuc-cam.png"
                src="../../../assets//xuc-cam.png&amp;w=1921&amp;q=80"
                decoding="async"
                style="
                  position: absolute;
                  top: 0;
                  left: 0;
                  bottom: 0;
                  right: 0;
                  box-sizing: border-box;
                  padding: 0;
                  border: none;
                  margin: auto;
                  display: block;
                  width: 0;
                  height: 0;
                  min-width: 100%;
                  max-width: 100%;
                  min-height: 100%;
                  max-height: 100%;
                  object-fit: contain;
                  object-position: bottom center;
                  filter: blur(20px);
                  background-size: cover;
                  background-image: url('/home/icons/web-homepage-icons-01.png');
                " /></noscript
            ><img
              alt="Meraki Image"
              src="../../../assets//xuc-cam.png"
              decoding="async"
              style="
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                box-sizing: border-box;
                padding: 0;
                border: none;
                margin: auto;
                display: block;
                width: 0;
                height: 0;
                min-width: 100%;
                max-width: 100%;
                min-height: 100%;
                max-height: 100%;
                object-fit: contain;
                object-position: bottom center;
                filter: blur(20px);
                background-size: cover;
                background-image: url('../../../assets//xuc-cam.png');
              "
            />
          </div>
        </div>
        <h2
          class="font-kinfolk max-w-[150px] uppercase text-2xl text-center leading-normal whitespace-pre-line flex flex-col items-center"
        >
          XÚC CẢM TRỌN VẸN TINH TẾ
        </h2>
        <div class="font-garamond italic text-xl text-center mt-4">
          Mỗi đám cưới tổ chức bởi Meraki đều mang đến khách mời trải nghiệm độc
          đáo.
        </div>
        <div class="h-6"></div>
        <div
          class="w-full lg:flex items-center space-y-6 lg:space-y-0 lg:space-x-12 px-3"
        >
          <div class="leading-relaxed flex-1 text-center">
            Ngày cưới trong mơ được vẽ nên từ những điều nhỏ bé. Đó là hành
            trình của sự tinh tế, cẩn trọng và sáng tạo để những khoảnh khắc
            tuyệt vời được ghi dấu. Bằng tất cả tình yêu và lòng nhiệt thành,
            Meraki mong muốn có được cơ duyên đồng hành cùng bạn trong hành
            trình đặc biệt này.
          </div>
          <div class="hidden lg:block w-px h-full bg-element-5"></div>
          <div class="text-center flex-1 space-y-6 flex flex-col items-center">
            <div class="font-garamond italic leading-relaxed max-w-sm text-xl">
              Không niềm vui nào sánh được khi bạn lên kế hoạch và từng bước
              hiện thực hóa lễ cưới bạn hằng mơ về. Đó sẽ là dự án hạnh phúc
              nhất trên đời!
            </div>
            <div class="font-semibold font-sweetsans text-xs">
              - MARTHA STEWART -
            </div>
          </div>
        </div>
        <div class="h-20"></div>
        <div class="lg:flex w-full bg-element-2">
          <div class="lg:w-2/5 px-12 pt-8">
            <div style="max-width: 280px" class="relative w-full mx-auto">
              <div
                style="
                  display: block;
                  overflow: hidden;
                  position: relative;
                  box-sizing: border-box;
                  margin: 0;
                "
              >
                <div
                  style="
                    display: block;
                    box-sizing: border-box;
                    padding-top: 153.1135531135531%;
                  "
                ></div>
                <img
                  alt="Meraki Image"
                  src="https://imageproxy.hieunguyen.dev/api/images/dfgbpib38/image/upload/w_1921,f_auto/uploads/web_homepage_about_4acca1e65c.JPG?18"
                  decoding="async"
                  style="
                    position: absolute;
                    inset: 0px;
                    box-sizing: border-box;
                    padding: 0px;
                    border: none;
                    margin: auto;
                    display: block;
                    width: 0px;
                    height: 0px;
                    min-width: 100%;
                    max-width: 100%;
                    min-height: 100%;
                    max-height: 100%;
                    object-fit: cover;
                    object-position: center bottom;
                    filter: none;
                    background-size: cover;
                    background-image: none;
                  "
                  sizes="(max-width: 384px) 400px,(max-width: px) 500px,(max-width: 1400px) 960px, 960px"
                  srcset="
                    https://imageproxy.hieunguyen.dev/api/images/dfgbpib38/image/upload/w_16,f_auto/uploads/web_homepage_about_4acca1e65c.JPG?18     16w,
                    https://imageproxy.hieunguyen.dev/api/images/dfgbpib38/image/upload/w_32,f_auto/uploads/web_homepage_about_4acca1e65c.JPG?18     32w,
                    https://imageproxy.hieunguyen.dev/api/images/dfgbpib38/image/upload/w_48,f_auto/uploads/web_homepage_about_4acca1e65c.JPG?18     48w,
                    https://imageproxy.hieunguyen.dev/api/images/dfgbpib38/image/upload/w_64,f_auto/uploads/web_homepage_about_4acca1e65c.JPG?18     64w,
                    https://imageproxy.hieunguyen.dev/api/images/dfgbpib38/image/upload/w_96,f_auto/uploads/web_homepage_about_4acca1e65c.JPG?18     96w,
                    https://imageproxy.hieunguyen.dev/api/images/dfgbpib38/image/upload/w_128,f_auto/uploads/web_homepage_about_4acca1e65c.JPG?18   128w,
                    https://imageproxy.hieunguyen.dev/api/images/dfgbpib38/image/upload/w_256,f_auto/uploads/web_homepage_about_4acca1e65c.JPG?18   256w,
                    https://imageproxy.hieunguyen.dev/api/images/dfgbpib38/image/upload/w_384,f_auto/uploads/web_homepage_about_4acca1e65c.JPG?18   384w,
                    https://imageproxy.hieunguyen.dev/api/images/dfgbpib38/image/upload/w_640,f_auto/uploads/web_homepage_about_4acca1e65c.JPG?18   640w,
                    https://imageproxy.hieunguyen.dev/api/images/dfgbpib38/image/upload/w_828,f_auto/uploads/web_homepage_about_4acca1e65c.JPG?18   828w,
                    https://imageproxy.hieunguyen.dev/api/images/dfgbpib38/image/upload/w_1200,f_auto/uploads/web_homepage_about_4acca1e65c.JPG?18 1200w,
                    https://imageproxy.hieunguyen.dev/api/images/dfgbpib38/image/upload/w_1921,f_auto/uploads/web_homepage_about_4acca1e65c.JPG?18 1921w
                  "
                />
              </div>
            </div>
          </div>
          <div class="flex-1 pt-6 pb-8 leading-loose px-3">
            <div class="px-6 lg:px-12 xl:px-24 w-full mx-auto max-w-screen-2xl">
              <div class="flex flex-col text-center items-center">
                <div class="text-3xl font-kinfolk">MERAKI</div>
                <div class="text font-garamond italic">
                  [may-rah-kee] - trong tiếng Hy Lạp
                </div>
                <div class="text font-commissioner font-semibold">
                  Làm gì đó với tất cả tình yêu và tâm hồn.
                </div>
                <div class="space-y-6 mt-3 leading-normal text-justify w-full">
                  <div>
                    Từng thành viên một là những mảnh ghép nhỏ, bồi đắp, cân
                    bằng cho nhau để tạo nên một Meraki thật đa nhiệm, đa màu
                    sắc, luôn ở phía sau hậu trường cho ngày vui của hai bạn
                    được tỏa sáng và ghi lại những dấu ấn khó quên.
                  </div>
                </div>
                <div class="h-4"></div>
                <div class="flex justify-center">
                  <a href="/vi/about"
                    ><button
                      class="px-2 py-1 bg-primary text-white font-sweetsans uppercase hover:bg-opacity-70 focus:ring focus:outline-none ring-element-4 ring-offset-2 transition-all duration-300 ease-in-out"
                    >
                      Đọc thêm
                    </button></a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="hidden lg:block">
      <div class="w-full flex flex-col items-center max-w-5xl mx-auto">
        <div class="relative w-24 md:w-28">
          <div
            style="
              display: block;
              overflow: hidden;
              position: relative;
              box-sizing: border-box;
              margin: 0;
            "
          >
            <div
              style="
                display: block;
                box-sizing: border-box;
                padding-top: 194.64285714285714%;
              "
            ></div>
            <img
              alt="Meraki Image"
              src="/_next/image?url=/home/icons/web-homepage-icons-01.png&amp;w=1921&amp;q=80"
              decoding="async"
              style="
                position: absolute;
                inset: 0px;
                box-sizing: border-box;
                padding: 0px;
                border: none;
                margin: auto;
                display: block;
                width: 0px;
                height: 0px;
                min-width: 100%;
                max-width: 100%;
                min-height: 100%;
                max-height: 100%;
                object-fit: contain;
                object-position: center bottom;
                filter: none;
                background-size: cover;
                background-image: none;
              "
              sizes="(max-width: 384px) 400px,(max-width: px) 500px,(max-width: 1400px) 960px, 960px"
              srcset="
                /_next/image?url=/home/icons/web-homepage-icons-01.png&amp;w=16&amp;q=80     16w,
                /_next/image?url=/home/icons/web-homepage-icons-01.png&amp;w=32&amp;q=80     32w,
                /_next/image?url=/home/icons/web-homepage-icons-01.png&amp;w=48&amp;q=80     48w,
                /_next/image?url=/home/icons/web-homepage-icons-01.png&amp;w=64&amp;q=80     64w,
                /_next/image?url=/home/icons/web-homepage-icons-01.png&amp;w=96&amp;q=80     96w,
                /_next/image?url=/home/icons/web-homepage-icons-01.png&amp;w=128&amp;q=80   128w,
                /_next/image?url=/home/icons/web-homepage-icons-01.png&amp;w=256&amp;q=80   256w,
                /_next/image?url=/home/icons/web-homepage-icons-01.png&amp;w=384&amp;q=80   384w,
                /_next/image?url=/home/icons/web-homepage-icons-01.png&amp;w=640&amp;q=80   640w,
                /_next/image?url=/home/icons/web-homepage-icons-01.png&amp;w=828&amp;q=80   828w,
                /_next/image?url=/home/icons/web-homepage-icons-01.png&amp;w=1200&amp;q=80 1200w,
                /_next/image?url=/home/icons/web-homepage-icons-01.png&amp;w=1921&amp;q=80 1921w
              "
            />
          </div>
        </div>
        <h2 class="font-kinfolk uppercase text-3xl text-center">
          XÚC CẢM / TRỌN VẸN / TINH TẾ
        </h2>
        <div class="font-garamond italic text-2xl text-center">
          Mỗi đám cưới tổ chức bởi Meraki đều mang đến khách mời trải nghiệm độc
          đáo.
        </div>
        <div class="h-14"></div>
        <div class="w-full flex space-x-14 justify-evenly">
          <div class="leading-loose max-w-sm py-8 flex-1 text-justify">
            Ngày cưới trong mơ được vẽ nên từ những điều nhỏ bé. Đó là hành
            trình của sự tinh tế, cẩn trọng và sáng tạo để những khoảnh khắc
            tuyệt vời được ghi dấu. Bằng tất cả tình yêu và lòng nhiệt thành,
            Meraki mong muốn có được cơ duyên đồng hành cùng bạn trong hành
            trình đặc biệt này.
          </div>
          <div class="w-px bg-element-5"></div>
          <div
            class="text-center max-w-sm py-8 flex-1 space-y-6 flex flex-col items-center"
          >
            <div class="font-garamond italic leading-loose max-w-sm text-xl">
              Không niềm vui nào sánh được khi bạn lên kế hoạch và từng bước
              hiện thực hóa lễ cưới bạn hằng mơ về. Đó sẽ là dự án hạnh phúc
              nhất trên đời!
            </div>
            <div class="font-semibold text-sm font-sweetsans">
              - MARTHA STEWART -
            </div>
          </div>
        </div>
        <div class="h-20"></div>
        <div class="lg:flex w-full">
          <div class="lg:w-2/5 flex justify-center items-center -mt-20">
            <div class="relative w-4/6">
              <div
                style="
                  display: block;
                  overflow: hidden;
                  position: relative;
                  box-sizing: border-box;
                  margin: 0;
                "
              >
                <div
                  style="
                    display: block;
                    box-sizing: border-box;
                    padding-top: 153.1135531135531%;
                  "
                ></div>
                <img
                  alt="Meraki Image"
                  src="https://imageproxy.hieunguyen.dev/api/images/dfgbpib38/image/upload/w_1921,f_auto/uploads/web_homepage_about_4acca1e65c.JPG?18"
                  decoding="async"
                  style="
                    position: absolute;
                    inset: 0px;
                    box-sizing: border-box;
                    padding: 0px;
                    border: none;
                    margin: auto;
                    display: block;
                    width: 0px;
                    height: 0px;
                    min-width: 100%;
                    max-width: 100%;
                    min-height: 100%;
                    max-height: 100%;
                    object-fit: cover;
                    object-position: center bottom;
                    filter: none;
                    background-size: cover;
                    background-image: none;
                  "
                  sizes="(max-width: 384px) 400px,(max-width: px) 500px,(max-width: 1400px) 960px, 960px"
                  srcset="
                    https://imageproxy.hieunguyen.dev/api/images/dfgbpib38/image/upload/w_16,f_auto/uploads/web_homepage_about_4acca1e65c.JPG?18     16w,
                    https://imageproxy.hieunguyen.dev/api/images/dfgbpib38/image/upload/w_32,f_auto/uploads/web_homepage_about_4acca1e65c.JPG?18     32w,
                    https://imageproxy.hieunguyen.dev/api/images/dfgbpib38/image/upload/w_48,f_auto/uploads/web_homepage_about_4acca1e65c.JPG?18     48w,
                    https://imageproxy.hieunguyen.dev/api/images/dfgbpib38/image/upload/w_64,f_auto/uploads/web_homepage_about_4acca1e65c.JPG?18     64w,
                    https://imageproxy.hieunguyen.dev/api/images/dfgbpib38/image/upload/w_96,f_auto/uploads/web_homepage_about_4acca1e65c.JPG?18     96w,
                    https://imageproxy.hieunguyen.dev/api/images/dfgbpib38/image/upload/w_128,f_auto/uploads/web_homepage_about_4acca1e65c.JPG?18   128w,
                    https://imageproxy.hieunguyen.dev/api/images/dfgbpib38/image/upload/w_256,f_auto/uploads/web_homepage_about_4acca1e65c.JPG?18   256w,
                    https://imageproxy.hieunguyen.dev/api/images/dfgbpib38/image/upload/w_384,f_auto/uploads/web_homepage_about_4acca1e65c.JPG?18   384w,
                    https://imageproxy.hieunguyen.dev/api/images/dfgbpib38/image/upload/w_640,f_auto/uploads/web_homepage_about_4acca1e65c.JPG?18   640w,
                    https://imageproxy.hieunguyen.dev/api/images/dfgbpib38/image/upload/w_828,f_auto/uploads/web_homepage_about_4acca1e65c.JPG?18   828w,
                    https://imageproxy.hieunguyen.dev/api/images/dfgbpib38/image/upload/w_1200,f_auto/uploads/web_homepage_about_4acca1e65c.JPG?18 1200w,
                    https://imageproxy.hieunguyen.dev/api/images/dfgbpib38/image/upload/w_1921,f_auto/uploads/web_homepage_about_4acca1e65c.JPG?18 1921w
                  "
                />
              </div>
            </div>
          </div>
          <div class="flex-1 pt-6 pb-8 leading-loose px-6">
            <div class="px-6 lg:px-12 xl:px-24 w-full mx-auto max-w-screen-2xl">
              <div class="flex flex-col">
                <div class="text-4xl font-kinfolk">MERAKI</div>
                <div class="text font-garamond italic text-lg mt-2">
                  [may-rah-kee] - trong tiếng Hy Lạp
                </div>
                <div class="text font-commissioner font-semibold">
                  Làm gì đó với tất cả tình yêu và tâm hồn
                </div>
                <div class="space-y-6 mt-6 text-justify">
                  <div>
                    Đám cưới là một cột mốc thiêng liêng nhất, nó là điểm khởi
                    đầu cho một đời sống mới. Là Wedding Planner, tụi mình sẽ
                    luôn mong muốn cô dâu chú rể có thể nhẹ nhõm tận hưởng trọn
                    vẹn ngày dành riêng cho mình, bắt đầu đoạn đường chung đôi
                    cùng nhau một cách thuận lợi với nhiều ký ức đáng nhớ.
                  </div>
                  <div>
                    MERAKI đã và đang được đi một hành trình thú vị đầy niềm vui
                    với công việc mà tụi mình đã đặt trọn tình yêu và đam mê.
                    Trái tim ấm áp của tụi mình đang được nuôi dưỡng trong năng
                    lượng đẹp đẽ ấy. Từng thành viên một là những mảnh ghép nhỏ,
                    bồi đắp, cân bằng cho nhau để tạo nên một Meraki thật đa
                    nhiệm, đa màu sắc, luôn ở phía sau hậu trường cho ngày vui
                    của hai bạn được tỏa sáng và ghi lại những dấu ấn khó quên.
                  </div>
                </div>
                <div class="h-14"></div>
                <div class="flex">
                  <a href="/vi/about"
                    ><button
                      class="px-2 py-1 bg-primary text-white font-sweetsans uppercase hover:bg-opacity-70 focus:ring focus:outline-none ring-element-4 ring-offset-2 transition-all duration-300 ease-in-out"
                    >
                      read more
                    </button></a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
